<h1>案件一覧</h1>
<table  class="table table-bordered table-sm">
  <thead  class="thead-light">
    <tr>
      <th>案件コード</th>
      <th>案件名</th>
      <th>案件詳細</th>
      <th>担当者</th>
    </tr>
  </thead>

  <tbody>
    <% @matters.each do |matter| %>
      <tr>
        <td><%= link_to format("%010d",matter.id), company_matter_path(@company, matter) %></td>
        <td><%= matter.name %></td>
        <td><%= matter.detail %></td>
        <td><%= matter.contact_person %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '案件を追加', new_company_matter_path(@company) %>
<br/>
<%= link_to '会社詳細へ戻る', company_path(@company) %>

