<table class="table  table-bordered table-sm w-50 p-3">
  <tbody>
    <tr>
      <th class="bg-light">案件名</th>
      <td><%= @matter.name %></td>
    </tr>
    <tr> 
      <th class="bg-light">案件詳細</th>
      <td><%= @matter.detail %></td>
    </tr>
    <tr>
      <th class="bg-light">担当者</th> 
      <td><%= @matter.contact_person %></td>
    </tr>
  </tbody>
</table>

<h2>ログ</h2>
<div class="table-responsive-sm">
<table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">ログ更新日</th>
      <th scope="col">次回アプローチ日</th>
      <th scope="col">ステータス</th>
      <th scope="col">コメント</th>
      <th colspan="2"></th>
    </tr>
  </thead>

 <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td scope="row"><%= log.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= log.next_approach_date.strftime('%Y/%m/%d') %></td>
        <td><%= log.status_i18n %></td>
        <td><%= log.comment %></td>
        
        <td><%= link_to 'ログ編集', edit_company_matter_log_path(log.matter.company,log.matter, log) %></td>
        <td><%= link_to 'ログ削除', company_matter_log_path(log.matter.company,log.matter, log), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @logs %>
<%= link_to 'ログを追加', new_company_matter_log_path(@company,@matter) %>
</br>
<p><%= link_to '企業情報に戻る', company_path(@company) %></p>
