<p>
  <strong>案件名:</strong>
  <%= @matter.name %>
</p>

<p>
  <strong>案件詳細:</strong>
  <%= @matter.detail %>
</p>

<p>
  <strong>担当者:</strong>
  <%= @matter.contact_person %>
</p>

<h2>ログ</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ログ更新日</th>
      <th scope="col">次回アプローチ日</th>
      <th scope="col">ステータス</th>
      <th scope="col">コメント</th>
    </tr>
  </thead>

 <tbody>
    <% @matter.logs.each do |log| %>
      <tr>
        <td scope="row"><%= log.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= log.next_approach_date.strftime('%Y/%m/%d') %></td>
        <td><%= log.status_i18n %></td>
        <td><%= log.comment %></td>
        
        <td><%= link_to 'ログ詳細', company_matter_log_path(log.matter.company,log.matter, log) %></td>
        <td><%= link_to 'ログ編集', edit_company_matter_log_path(log.matter.company,log.matter, log) %></td>
        <td><%= link_to 'ログ削除', company_matter_log_path(log.matter.company,log.matter, log), method: :delete, data: { confirm: '本当にいいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'ログを追加', new_company_matter_log_path(@company,@matter) %>
</br>
<p><%= link_to '企業情報に戻る', company_path(@company) %></p>
