<h2>メニュー</h2>
<ul>
  <li><%= link_to '新規企業登録', new_company_path %></li>
</ul>
<br>
<h2>企業一覧</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">企業コード</th>
      <th scope="col">企業名</th>
      <th scope="col">TEL</th>
      <th scope="col">住所</th>
      <th scope="col">業種</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td scope="row"><%= link_to format("%010d",company.id),company %></td>
        <td><%= company.name %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.address %></td>
        <td><%= company.industry %></td>

        <td><%= link_to '編集', edit_company_path(company) %></td>
        <td><%= link_to '削除', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
