<h2>検索結果</h2>
<% if @companies.any? %>
<div class="table-responsive-sm">
<table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= sort_link(@q_company, :id, "企業コード") %></th>
      <th scope="col"><%= sort_link(@q_company, :name) %></th>
      <th scope="col"><%= sort_link(@q_company, :phone_number) %></th>
      <th scope="col"><%= sort_link(@q_company, :address) %></th>
      <th scope="col"><%= sort_link(@q_company, :industry) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td scope="row"><%= link_to format("%010d",company.id),company %></td>
        <td><%= company.name %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.address %></td>
        <td><%= company.industry %></td>

        <td><%= link_to '編集', edit_company_path(company) %></td>
        <td><%= link_to '削除', company, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% else %>
  <p class="text-danger"><%= '検索結果がありません。' %></p>
<% end %>
<%= paginate @companies %>
<br/>
<%= link_to '検索フォームに戻る', search_companies_path %>
<%= link_to '会社一覧へ戻る', companies_path %>
