<table class="table  table-bordered table-sm w-50 p-3">
  <tbody>
    <tr>
      <th class="bg-light">会社名</th>
      <td><%= @company.name %></td>
    </tr>
    <tr> 
      <th class="bg-light">TEL</th>
      <td><%= @company.phone_number %></td>
    </tr>
    <tr>
      <th class="bg-light">住所</th> 
      <td><%= @company.address %></td>
    </tr>
    <tr>
      <th class="bg-light">業種</th>
      <td><%= @company.industry %></td>
    </tr>
  </tbody>
</table>

</br>
<div class="table-responsive-sm">
<table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= sort_link(@q_matter, :id, "案件コード") %></th>
      <th scope="col"><%= sort_link(@q_company, :updated_at, "案件更新日") %></th>
      <th scope="col"><%= sort_link(@q_company, :name , "案件名") %></th>
      <th scope="col"><%= sort_link(@q_company, :detail , "案件詳細") %></th>
      <th scope="col"><%= sort_link(@q_company, :contact_person , "担当者") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @matters.each do |matter| %>
      <tr>
        <td scope="row"><%= link_to format("%010d",matter.id), company_matter_path(@company, matter) %></td>
        <td><%= matter.updated_at.strftime('%Y/%m/%d') %></td>
        <td><%= matter.name %></td>
        <td><%= matter.detail %></td>
        <td><%= matter.contact_person %></td>
        
        <td><%= link_to '案件編集', edit_company_matter_path(@company, matter) %></td>
        <td><%= link_to '案件削除', company_matter_path(@company, matter), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @matters %>
<%= link_to '案件一覧', company_matters_path(@company) %>
<%= link_to '案件を追加', new_company_matter_path(@company) %>
<br/>
<%= link_to '会社一覧へ戻る', companies_path %>
