<p>
  <strong>会社名:</strong>
  <%= @company.name %>
</p>
<p>
  <strong>TEL:</strong>
  <%= @company.phone_number %>
</p>
<p>
  <strong>住所:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>業種:</strong>
  <%= @company.industry %>
</p>
</br>
<table class="table table-bordered table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">案件コード</th>
      <th scope="col">案件更新日</th>
      <th scope="col">案件名</th>
      <th scope="col">案件詳細</th>
      <th scope="col">担当者</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @matters.each do |matter| %>
      <tr>
        <td scope="row"><%= link_to format("%010d",matter.id), company_matter_path(@company, matter) %></td>
        <td><%= matter.updated_at.strftime('%Y/%m/%d') %></td>
        <td><%= matter.name %></td>
        <td><%= matter.detail %></td>
        <td><%= matter.contact_person %></td>
        
        <td><%= link_to '案件編集', edit_company_matter_path(@company, matter) %></td>
        <td><%= link_to '案件削除', company_matter_path(@company, matter), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '案件一覧', company_matters_path(@company) %>
<%= link_to '案件を追加', new_company_matter_path(@company) %>
</br>

<%= link_to '会社一覧へ戻る', companies_path %>
