<%= form_with(model: log, url: [@company, @matter,log], local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation" class="alert-danger">
      <h2><%= pluralize(log.errors.count, "error") %> 登録に失敗しました:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :next_approach_date %><br/>
    <%= form.date_field :next_approach_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Log.statuses_i18n.keys.map{|k|[I18n.t("enums.log.status.#{k}"), k]} %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
  
    <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
