<p id="notice"><%= notice %></p>

<p>
  <strong>次回アプローチ日:</strong>
  <%= @log.next_approach_date %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @log.status %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @log.comment %>
</p>

<%= link_to '編集', edit_company_matter_log_path %> |
<%= link_to '案件詳細へ戻る', company_matter_path(id: @matter.id)  %>
