<p id="notice"><%= notice %></p>

<p>
  <strong>Next approach date:</strong>
  <%= @log.next_approach_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @log.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @log.comment %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
